nav#sidebar .content-side .nav-main {
    margin-bottom: 100px;
}
#floating-items-container {
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 1040;
    background: #232a35 !important;
    padding: 5px;
    border-top: 1px solid #343c4a;
    border-right: 1px solid #343c4a;
    box-shadow: 0px 0px 5px #000;
}
#floating-items-container .box {
    display: flex;
}
#floating-items-container .actions {
    width: 26px;
    margin: 7px 0 7px 0;
}
#floating-items-container .actions .btn {
    padding: .4rem 0;
    width: 100%;
}
#floating-items-row {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 1.4rem;
}
#floating-items-container .floating-items-item {
    position: relative;
    height: 64px;
    width: 64px;
    background: #343C4A;
    border-radius: 5px;
    margin: 0.5rem 0.5rem 0;
}
#floating-items-container .floating-items-item.equipment {
    background: #313E3D;
}
#floating-items-container .floating-items-item.food {
    background: #3B3B38;
}
#floating-items-container .floating-items-item .item-icon {
    width: 64px;
    height: 64px;
    pointer-events: none;
    padding: 1rem;
}
#floating-items-container .floating-items-item .type {
    position: absolute;
    top: -12px;
    right: -7px;
    pointer-events: none;
}
#floating-items-container .floating-items-item .type img {
    padding: 0;
    height: 16px;
    width: 16px;
}

#floating-items-container.compact #floating-items-row {
    padding-bottom: .4rem;
}
#floating-items-container.compact .actions {
    margin: 4px 4px 4px 0;
}
#floating-items-container.compact .actions .btn {
    padding: .2rem 0;
}
#floating-items-container.compact .floating-items-item {
    height: 64px;
    width: 48px;
    margin: 0.25rem 0.25rem 0;
}
#floating-items-container.compact .floating-items-item .item-icon {
    width: 48px;
    height: 48px;
    padding: 0.5rem;
}